<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<!-- Put site-specific property overrides in this file. -->

<configuration>

<property>
<name>fs.default.name</name>
<value>hdfs://%IP%/</value>
</property>

<property>
<name>hadoop.tmp.dir</name>
<value>/tmp/hdfs-%USER%/tmp</value>
</property>

</configuration>
