<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<!-- Put site-specific property overrides in this file. -->

<configuration>

<property>
<name>mapred.job.tracker</name>
<value>hdfs://%IP%:50031/</value>
</property>

<property>
<name>mapred.tasktracker.map.tasks.maximum</name>
<value>12</value>
</property>

<property>
<name>mapred.tasktracker.reduce.tasks.maximum</name>
<value>4</value>
</property>

<property>
<name>mapred.local.dir</name>
<value>/tmp/hdfs-%USER%/local/</value>
</property>

</configuration>
