<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<!-- Put site-specific property overrides in this file. -->

<configuration>

<property>
<name>mapred.job.tracker</name>
<value>hdfs://%IP%:50031/</value>
</property>

<property>
<name>mapred.tasktracker.map.tasks.maximum</name>
<value>18</value>
</property>

<property>
<name>mapred.tasktracker.reduce.tasks.maximum</name>
<value>8</value>
</property>

<property>
<name>mapred.system.dir</name>
<value>/scratch2/scratchdirs/%USER%/mapredsystem/</value>
</property>

<property>
<name>mapred.local.dir</name>
<value>/tmp/hdfs-%USER%/mapred/local/</value>
</property>

</configuration>
